indigo-flights-system-api/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="41a2055e-b101-4845-aa77-d36a9c42b3fd" >
		<http:request-connection host="${http.host}" port="${http.port}" />
	</http:request-config>
	<flow name="getFlights" doc:id="890f7ced-86b9-4bb8-b0bd-f19e27b9a08e" >
		<db:select doc:name="Select" doc:id="0a1be06e-f86b-4fe3-bd4b-7b306a202e65" config-ref="Database_Config">
			<db:sql><![CDATA[select * from indigo_flights]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="4522edd6-8ae7-4c15-9360-d3903fbb2d96">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.flight_id,
	code: payload01.flight_code default "",
	price: payload01.price default 0,
	departureDate: payload01.flight_date as String default "",
	origin: payload01.origin default "",
	destination: payload01.destination default "",
	emptySeats: payload01.emptySeats default 0,
	plane: {
		"type": payload01.plane_type default "",
		totalSeats: payload01.total_seats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="06978bc8-e804-428d-a41e-6f49628170e1" >
				<logger level="INFO" doc:name="Logger" doc:id="49c7f9eb-a9a9-4541-a686-22ab66bfc9a3" message="Error Occured in fetching data"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="getFlightsByID" doc:id="ad35c181-4247-4ad7-bb6e-0d744055275e" >
		<db:select doc:name="Select" doc:id="3e620588-2a13-48d0-880e-e143805ee6c9" config-ref="Database_Config" >
			<db:sql ><![CDATA[select * from indigo_flights WHERE flight_id = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.flightId}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="efde8966-aa26-4241-9f14-6466d30b5a6e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.flight_id,
	code: payload01.flight_code default "",
	price: payload01.price default 0,
	departureDate: payload01.flight_date as String default "",
	origin: payload01.origin default "",
	destination: payload01.destination default "",
	emptySeats: payload01.emptySeats default 0,
	plane: {
		"type": payload01.plane_type default "",
		totalSeats: payload01.total_seats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="Copy_of_On Error Propagate" doc:id="c7857255-745a-4cd7-ac25-0c1211fd3f17" >
				<logger level="INFO" doc:name="Logger" doc:id="eda34b54-aa65-4280-9c26-45051bf00c72" message="Error Occured in fetching data" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="postFlight" doc:id="d29e4082-8649-42b3-885c-ea2b8d26e1bd" >
		<db:insert doc:name="Insert" doc:id="982301bb-3ded-4d99-bd4d-064a6ecaf109" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into indigo_flights (flight_code, price, flight_date, origin, destination, emptySeats, plane_type, total_seats) values (:code, :price, :date, :origin, :destination, :emptySeats, :planeType,
:totalSeats);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'code': payload.code,
	'price': payload.price,
	'date': payload.date,
	'origin': payload.origin,
	'destination': payload.destination,
	'emptySeats': payload.emptySeats,
	'planeType': payload.planeType,
	'totalSeats': payload.totalSeats
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value='{"message": "Flight Booked Successfully"}' doc:name="Set Payload" doc:id="abf27072-eafb-45d7-be40-38acd2e756ad" />
	</flow>
</mule>
