src/main/mule/indigo-flights-external-system.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="indigo-flights-external-systemFlow" doc:id="a97f848d-5458-47cb-be95-42947057cb7d" >
		<http:listener doc:name="Listener" doc:id="2b812189-a6ad-484a-b31f-d7f0e35e93d1" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<logger level="INFO" doc:name="Logger" doc:id="ea940f23-6516-412c-9e58-6925742e1a5d" message="#[payload]"/>
	</flow>
</mule>
